* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  
.exec {
    position:absolute;
    left: 55%;
    bottom: 0;
    width: 20%;
    background: rgb(0, 0, 0);
    color: white;
    outline:none;
    cursor:pointer;
    height:6%;
    box-shadow: -3px 3px gray, -2px 2px gray, -1px 1px gray;
    border: 1px solid gray;
}
.exec:hover{
    color:yellow;
    background: red;
} 
.exec:active {
    background-color: rgb(231, 60, 60);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.reset {
    position:absolute;
    left: 25%;
    bottom: 0;
    width: 20%;
    background: rgb(0, 0, 0);
    color: white;
    outline:none;
    cursor:pointer;
    height:6%;
    box-shadow: -3px 3px gray, -2px 2px gray, -1px 1px gray;
    border: 1px solid gray;
}
.reset:hover{
    color:yellow;
    background: red;
} 
.reset:active {
    background-color: rgb(231, 60, 60);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.content {
    background: rgba(0, 0, 0, 0.91);
    display: flex;
    width: 100%;
    padding: 1vh;
    box-shadow:0 2px 3px black;
    position:fixed;
    height:100vh;
    justify-content: center;
    align-items: center;
    border: 5px solid #090b0f;
} 
.left {
    background-color: white;
    width: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre;
    box-shadow: 0 1px 1px black;
    outline: none;
    padding: 1px;
    height: 90%;
} 
.right {
    background-color: yellow;
    width: 50%;
    overflow-y: auto;
    white-space: pre;
    right: 0;
    box-shadow: 0 1px 1px black;
    padding: 0.4rem;
    height: 90%;
}