/* Reference: 
1. https://www.w3schools.com/howto/howto_css_split_screen.asp 
2. https://reactgo.com/build-your-own-html-editor/
*/
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: white;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(243, 240, 240);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .second {
    background-color: rgb(255, 255, 255);
    width: 50%;
    overflow-y: auto;
    white-space: pre;
    right: 0;
    box-shadow: 0 1px 1px rgb(22, 22, 22);
    padding: 0.4rem;
    height: 90vh;
  }
  .first {
    background-color: #ffffff;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre;
    box-shadow: 0 1px 1px rgb(22, 22, 22);
    outline: none;
    padding: 0.4rem;
    height: 90vh;
    border: 10px red;
  }
  

  /* .main-editor {
    background: rgba(0, 0, 0, 0.91);
    display: flex;
    width: 100%;
    padding: 1rem;
    box-shadow:0 2px 3px black;
    position:fixed;
    height:100vh;
     justify-content: center;
      align-items: center;
    border: 7px solid #36383f;
  } */

  /* .btn {
    poistion:fixed;
    right:0;
     padding: 0.4rem;
    width: 4rem;
    background: rgb(0, 0, 0);
    color: gold;
    font-size: 1rem;
    outline:none;
    cursor:pointer;
     height:90vh;
  } */